<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Administrator</title>
<link rel="stylesheet" href="styles.css">
</head>

<body>

    <form class="myForm" method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">
    
    <legend>You would like to</legend>
    <p><button><a href = "/admin/insert">INSERT</a></button></p>
    <p><button><a href = "/admin/update">UPDATE</a></button></p>
    <p><button><a href = "/admin/delete">DELETE</a></button></p>
    <p><button><a href = "/admin/view">VIEW</a></button></p>    
    <br><br><br>
    &nbsp
    <p><button><a href = "/admin/import">IMPORT</a></button></p>  
    <p><button><a href = "/admin/export">EXPORT</a></button></p>  

    </form>
    
    </body>
    </html>