<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Node js upload csv file to MySQL database</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>Administration Import CSV</title>
      <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
      <h1>Import CSV</h1>
      <form action="/admin/import" enctype="multipart/form-data" method="post" CLASS="myForm">
          <p>
              <label>Import CSV <br />
                <input type="file" name="importcsv" accept='csv' >
              </label>
          </p>
          <button type="submit">Submit</button>
      </form>  
    </body>
</html>




