<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>HOME</title>
<link rel="stylesheet" href="styles.css">
</head>


<body>

<form class="myForm" method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">

<legend>Who are you?</legend>
<p><button><a href = "/admin">ADMINISTRATOR</button></a></p>
<p><button><a href = "/tea">TEACHER</a></button></p>
<p><button><a href = "/stu">STUDENT</a></button></p>

</form>

</body>
</html>