<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Student</title>
<link rel="stylesheet" href="styles.css">
</head>

<body>

    <form class="myForm" method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">
    
    <legend>You would like to</legend>
    <p><button><a href = "/stu/insert">INSERT</a></button></p>
    <p><button><a href = "/stu/view">VIEW</a></button></p>
    
    
    </form>
    
    </body>
    </html>