<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Teacher</title>
<link rel="stylesheet" href="styles.css">
</head>

<body>

    <form class="myForm" method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">
    
    <h2>Subject attendance</h2>
    
    <p>
        
        
       
        
        <p>
        <label>Subject ID &nbsp&nbsp&nbsp
        <input type="text" name="Subject_Id">
        </label>
        </p>
        <p>
            <label>Date &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="date" name="Date">
            </label>
            </p>
        <p><button>Submit</button></p>
    
    </form>
 <br>
 <br>
    <form class="myForm" method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">
    
        <h2>Student attendance</h2>
    
        
            
            
            <p>
            <label>Student Roll Number
            <input type="Roll_no" name="Roll_no">
            </label>
            </p>

            <p>
                <label>Subject ID &nbsp&nbsp&nbsp
                <input type="text" name="Subject_Id">
                </label>
                </p>
            <p><button>Submit</button></p>
        </form>
    
    </body>
    </html>